<div class="container">
    <h1>Rentals</h1>
    <br> 
    {{#list-filter
        filter=(action 'filterByCity')
        as |rentals|}}
        {{#each rentals as |r|}}
            {{rental-list rental=r}}
        {{/each}}
    {{/list-filter}}
</div>